- content_for :header do
  All Recipes
%h1
= render 'list'
%br
= link_to 'New Recipe', new_recipe_path


- content_for :right do
  %ul
    %li List Item 1
    %li List Item 1
    %li List Item 1
    %li List Item 1
