%h1 Listing Sessions

%table
  %tr
    %th Username

  - @user_sessions.each do |user|
    %tr
      %td= user_session.username
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_session_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br


